<p *ngIf="!reminders$"><em>Loading...</em></p>

<div *ngIf="reminders$"  class="container">
  <div (click)="addNew()" class="btn btn-success mt-2 mb-2">Add new reminder</div>

  <div class="row">
    <div *ngFor="let reminder of reminders$ | async" class="card col-sm text-white bg-success m-2">
      <div class="card-header">{{reminder.remindDate | amTimeAgo}}</div>
      <div class="card-body">
        <h5 class="card-title">{{reminder.subject}}</h5>
        <p class="card-text">{{reminder.notes}}</p>
      </div>
      <div class="card-footer">
        <button (click)="update(reminder)" class="btn btn-primary">Update</button>
        <button (click)="delete(reminder.id)" class="btn btn-danger float-right">Delete</button>
      </div>
    </div>
  </div>
</div>




